body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

#presentation {
    display: flex;
    justify-content: center;
}
.img-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-address {
    margin-left: 40px;
}
